button {
  cursor: pointer;
}
body{
    font-family:'Roboto', sans-serif; 
    color:#434455;
    background-color: #FFFFFF;
}
.list {
  list-style-type: none;
}
.link{
  text-decoration: none;
}

.logotipe{
color: #2E2F42;
font-size: 18px;
font-weight: 700;
line-height: 1.17;  /*21px 116.667%  line-height/ffont-size*/
letter-spacing: 0.03em; /*letter-spacing/font-size*/
text-transform: uppercase;
font-family:  "Raleway", sans-serif;
color:#4d5ae5;
}

.menu-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;  
    color: #2E2F42;
}
.menu-link:hover{
    color:#404bbf; 
}
.menu-link:focus,
.menu-link:active {
  color: #404bbf;}



.info-link{
font-family: Roboto;
font-size: 16px;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
color: #434455;
}
.info-link:hover{
    color:#404bbf ;
}
.info-link:active{
    color:#404bbf ;
}
.header-logo-accent{
    color: #2e2f42;
}
.page-info{
    font-style: normal;
}
.main-section-page{
  background-color: #2E2F42;
}
.conteiner_main-title{
color: #FFFFFF;
text-align: center;
font-family: Roboto;
font-size: 56px;
font-weight: 700;
line-height: 1.07; /* 107.143% */
letter-spacing: 0.02em;
}
.button-main-order{
  
  background-color: var(--IRIS, #4D5AE5);
  color: var(--WHITE, #FFF);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
.button-main-order:focus{
  background-color:  #404BBF;

}
.button-main-order:hover{
  background-color:  #404BBF;
}
.main-section-info{
 
  color:#434455;
}
.title-section-info{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.title_main{
  color:#2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.paragraph-section-info{
color: var(--SLATE, #434455);

/* Body */
font-family: "Roboto", sans-serif;
font-size: 16px;

font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

.main-section-team{

background-color: #F4F4FD;
}

.title-our-team{
  color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
text-transform: capitalize;
/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
}
.list-info-team{
  background-color: #FFFFFF;
}
.main-development-team{
  background-color: #FFFFFF
}
.team_main_info {
  font-weight: 500;
  font-size:20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.title_main_info{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
text-transform: capitalize;
letter-spacing:0.02em;
color:#2e2f42
}
.title_our_portfolio{
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing:0.02em;
  color:#2e2f42
}
.paragraph-section-info{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455 ;
}

.foooter-main-section{

background-color: #2E2F42;
}
.logo_name{
color: var(--CLOUD, #F4F4FD);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.info_footer{
  color: var(--CLOUD, #F4F4FD);

/* Body */
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}
.footer-logo-accent{
  color:#f4f4fd;
}